## Auth hold codes

[Auth hold's](#hold) include a code - a short string with a brief explanation - as a value for `code`. Below is a list of possible codes that can be returned, along with our default messaging and the products they relate to.

### account_issue_apple_pay_on_file

Your payment method could not be updated because your iTunes payments are made via Apple Pay. Please update your payment method directly through Apple Pay.

<label class="tag">CardSwap</label>

### account_issue_disney_plus_third_party_on_file

Your Disney+ subscription is currently being paid by a third party provider such as iTunes, Verizon, or the Disney bundle. Sign in to your Disney+ account if you want to change the payment method to your card.

<label class="tag">CardSwap</label>

### account_issue_payment_details_required

This provider requires additional information. Contact them directly to update your payment method.

<label class="tag">CardSwap</label>

### account_issue_with_swap

We couldn't update your payment method because of an issue with your account. Please go to the provider directly to update your payment method.

<label class="tag">CardSwap</label>

### account_issue_primary_account_holder

We can't update your payment method because you aren't the primary account holder for this provider. Please provide the username and password of the main account holder.

<label class="tag">CardSwap</label>

### account_issue_card_not_accepted

We can't update your payment method because this card isn't accepted by the provider. Contact the provider directly to resolve this issue, then try again.

<label class="tag">CardSwap</label>

### account_issue_max_cards_on_file

We can't update your payment method because the provider won't allow any more cards to be added. Please sign in directly on the provider's website to remove a payment method and try again.

<label class="tag">CardSwap</label>

### account_issue_third_party_connected

We couldn't update your payment method because you're paying for your subscription through a third-party provider (like PayPal or Google Play). Please go to the third-party provider directly to update your payment method.

<label class="tag">CardSwap</label>

### account_issue_third_party_available

We couldn't update your payment method because you're paying for your subscription through a third party, such as iTunes or Amazon. To change your payment method, select the third party from the list of providers to add your card.

<label class="tag">CardSwap</label>

### account_issue_no_active_subscription

We couldn't add your card because you don't have an active subscription with this provider. Please activate your subscription and try again.

<label class="tag">CardSwap</label>

### system_issue_with_swap

We couldn't update your payment method because of a technical problem. Please try again.

<label class="tag">CardSwap</label>

### account_set_up_online_payments

Your account is not set up for online payments. Log in to your account and set up online payments.

<label class="tag">Biller Direct</label>

### partner_expiration_exceeded

This request has exceeded your financial institution's expiration policy.

<label class="tag">CardSwap</label>

### account_issue_account_locked

Your account has been locked. Unlock your account directly through your provider and try again.

<label class="tag">Biller Direct</label>

### account_issue_verify_identity

Please log in to your account to set up and verify your personal information.

<label class="tag">Biller Direct</label>

### account_issue_accept_toc

Please log in to your account and accept the Terms and Conditions.

<label class="tag">Biller Direct</label>

### account_issue_no_service_account

Please log in to your account and add a service account.

<label class="tag">Biller Direct</label>


<!--

These are Biller Direct holds we'll add in later

### account_issue_third_party_payments_on_file

We're unable to access your bill information because your account is connected to a third-party provider.

<label class="tag">Biller Direct</label>

### system_issue_with_bill

We're unable to access your bill information because of a system issue. Please try again later.

<label class="tag">Biller Direct</label>

### system_issue_with_bill_payment

We're unable to submit this payment because of a system issue.  Please try again later.

<label class="tag">Biller Direct</label>

### account_paid_in_full

We’re unable to locate a balance on your account because it is paid in full.

<label class="tag">Biller Direct</label>

### account_issue_payment_restrictions

We're unable to submit payments due to restrictions on your account.

<label class="tag">Biller Direct</label>

### account_issue_inactive_account

We're unable to make payments on inactive accounts.

<label class="tag">Biller Direct</label>

-->
