## Auth hold codes

[Auth hold's](#hold) include a code - a short string with a brief explanation - as a value for `code`. Below is a list of possible codes that can be returned, along with our default messaging and the products they relate to.

### account_issue_apple_pay_on_file

We're unable to update your payment method because your iTunes payments are made with Apple Pay. Please update your payment method directly in Apple Pay.

<label class="tag">CardSwap</label>

### account_issue_disney_plus_third_party_on_file

Your Disney+ subscription payments are made through a third-party provider (such as iTunes, Verizon, or a bundle).

<label class="tag">CardSwap</label>

### account_issue_payment_details_required

This provider requires additional information. Please contact the provider to update your payment method.

<label class="tag">CardSwap</label>

### account_issue_with_swap

We're unable to update your payment method because of an issue with your account. Please try again later.

<label class="tag">CardSwap</label>

### account_issue_primary_account_holder

We're unable to update your payment method because you are not the primary account holder for this provider.

<label class="tag">CardSwap</label>

### account_issue_card_not_accepted

We're unable to update your payment method because this card is not accepted by the provider.

<label class="tag">CardSwap</label>

### account_issue_max_cards_on_file

We're unable to update your payment method because you have the max amount of cards on file. Please log in to the provider's website to remove a payment method and try again.

<label class="tag">CardSwap</label>

### account_issue_third_party_connected

We're unable to update your payment method because payments are made through a third-party provider (such as PayPal or Google Play).

<label class="tag">CardSwap</label>

### account_issue_third_party_available

We're unable to update your payment method because payments are made through iTunes or Amazon. To change your payment method, select iTunes or Amazon from the list of providers and add your card.

<label class="tag">CardSwap</label>

### account_issue_no_active_subscription

We're unable to add your card because you do not have an active subscription with this provider. Please activate your subscription and try again.

<label class="tag">CardSwap</label>

### account_set_up_online_payments

Your account is not set up for online payments. Log in to your account and set up online payments.

<label class="tag">Biller Direct</label>

### system_issue_with_swap

We're unable to update your payment method because of a system issue. Please try again later.

<label class="tag">CardSwap</label>

### account_issue_account_locked

Your account has been locked. Unlock your account directly through your provider and try again.

<label class="tag">Biller Direct</label>

### account_issue_verify_identity

Please log in to your account to set up and verify your personal information.

<label class="tag">Biller Direct</label>

### account_issue_accept_toc

Please log in to your account and accept the Terms and Conditions.

<label class="tag">Biller Direct</label>

### account_issue_no_service_account

Please log in to your account and add a service account.

<label class="tag">Biller Direct</label>

<!--

These are Biller Direct holds we'll add in later

### account_issue_third_party_payments_on_file

We're unable to access your bill information because your account is connected to a third-party provider.

<label class="tag">Biller Direct</label>

### system_issue_with_bill

We're unable to access your bill information because of a system issue. Please try again later.

<label class="tag">Biller Direct</label>

### system_issue_with_bill_payment

We're unable to submit this payment because of a system issue. Please try again later.

<label class="tag">Biller Direct</label>

### account_paid_in_full

Your account balance has already been paid in full.

<label class="tag">Biller Direct</label>

### account_issue_payment_restrictions

We're unable to submit payments due to restrictions on your account.

<label class="tag">Biller Direct</label>

### account_issue_inactive_account

We're unable to make payments on inactive accounts.

<label class="tag">Biller Direct</label>

-->
