# Webhooks

Unbill uses webhooks for notification. To create a webhook for event notifications, your app must:

<ol>
    <li>
        <b>Configure a webhook listener.</b><br>
        Set up a server to listen for incoming HTTP POST notification messages when events occur.
    </li>
    <li>
        <b>Subscribe your webhook listener to events.</b><br>
        Send an email to <a href="mailto:api@unbill.us">api@unbill.us</a> with two webhook URLs, one for your sandbox environment, and one for your production environment.
    </li>
</ol>

