.resources {

	margin-right: $examples-width;
    padding: 0 $main-padding;

	.resource {

		background-image: none;
		border: 1px solid #f2f4f6;
		border-radius: 4px;
		box-shadow: 0 0 5px rgba(19,49,69,0.1);
		display: block;
		padding: 16px;
		position: relative;
		text-decoration: none;
		width: 50%;
		font-weight: normal;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0px;
		}

		&:hover {
			background: #FAFAFA;
		}

		img {
			float: left;
			height: 56px;
			margin-right: 15px;
			width: 52px;
		}

		.content {

			margin-left: 40px;

			h3 {
				margin-top: 5px;
				margin-bottom: 6px;
				padding-top: 0;
				font-size: 18px;
				font-weight: 500;
				line-height: 20px;
				color: #333;
			}

			p {
				font-family: 'Monaco', 'Courier';
				font-size: 16px;
				line-height: 18px;
				white-space: nowrap;
				color: #576f7f;
				margin-bottom: 0;
			}

		}

		&:after {
			content: '›';
			position: absolute;
			right: 10px;
			top: 24%;
			font-size: 30px;
			color: #AAA;
		}

	}

}